
Task_1/bank_train_2016.xml
Task_1/banks_test_etalon.xml
Task_1/tkk_test_etalon.xml
Task_1/tkk_train_2016.xml
Task_1/cc.ru.300.bin
Task_1/tweets/tweets_0.csv
Task_1/tweets/tweets_1.csv
Task_1/tweets/tweets_2.csv
Task_1/tweets/tweets_3.csv
Task_1/tweets/tweets_4.csv
Task_1/tweets/tweets_5.csv
Task_1/.ipynb_checkpoints/Task1_VIALARS-checkpoint.ipynb
DeepLearning_in_NLP_1.pdf
DeepLearning_in_NLP_2.pdf
Task_1/model/tweets_model
Task_1/model/tweets_model.trainables.syn1neg.npy
Task_1/model/tweets_model.trainables.vectors_ngrams_lockf.npy
Task_1/model/tweets_model.trainables.vectors_vocab_lockf.npy
Task_1/model/tweets_model.wv.vectors.npy
Task_1/model/tweets_model.wv.vectors_ngrams.npy
Task_1/model/tweets_model.wv.vectors_vocab.npy
