
Task_1/bank_train_2016.xml
Task_1/banks_test_etalon.xml
Task_1/tkk_test_etalon.xml
Task_1/tkk_train_2016.xml
Task_1/cc.ru.300.bin
Task_1/tweets/
Task_1/.ipynb_checkpoints/
DeepLearning_in_NLP_1.pdf
DeepLearning_in_NLP_2.pdf
Task_1/model/
PyTorch-NLP.yaml
Task_2/.ipynb_checkpoints/
Task_2/data/
Task_2/ELMoForManyLangs/
Task_2/russian.model/
Task_2/scripts/
Task_2/cc.ru.300.bin
